
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<title>Display nearby city’s</title>
</head>
<body>
	<div class="container" style="padding:20px 150px;">
		<h1>Display nearby city’s weather based on current location</h1>
		<div id="header"></div>
		<form role="form-horizontal">
			<div class="form-group col-md-8 ">
				<label>City</label>
				<input type="input" class="form-control " id="txt-search" placeholder="Type your search city">
			</div>
			<div class="form-group col-md-2 ">
				<label>Radius (km)</label>
				<input type="input" class="form-control" id="txt-radius" placeholder="Radius">
			</div>
		</form>
		<div id="filter-records"></div>
		
		<div id="map"></div>
		
	</div>
</body>
</html>

<style>
#map {
	height: 400px;
	width: 100%;
}
</style>

<script type="text/javascript">

	var data;

	var url_string = $(location).attr('href');
	var url = new URL(url_string);
	var searchCity = url.searchParams.get("city");
	var centerLat = url.searchParams.get("lat");
	var centerLng = url.searchParams.get("lng");
	var searchRad = url.searchParams.get("radius");


	$.getJSON("{{ asset('json/au_data_min.json') }}", function(json){
		data = json;
	});

	$(document).ready(function(){
		$('#txt-search').keyup(function(){
			var searchField = $(this).val();
			if(searchField === '')  {
				$('#filter-records').html('');
				return;
			}
			var regex = new RegExp(searchField, "i");
			var output = '<ul class="row" style="list-style-type: none;">';
			var count = 1;
			$.each(data, function(key, val){
				if (val.city.search(regex) != -1) {
					output += '<li class="col-md-12 well"> <a href="?city=' + val.city + '&lat='+val.lat+'&lng='+val.lng+'&radius='+$('#txt-radius').val()+'">';
					output += '<h5>' + val.city + '</h5>';
					output += '</a></li>';
					count++;
				}
			});
			output += '</ul>';
			$('#filter-records').html(output);
		});
		$('#txt-radius').keypress(function(e) {
			if(e.which == 13 || e.which == 1 ) {
				window.location.href = "?city="+ searchCity + "&lat="+centerLat+"&lng="+centerLng+"&radius="+$('#txt-radius').val()+"";
			}
		});
	});



	function initMap() {
		$('#txt-search').val(searchCity);
		$('#txt-radius').val(searchRad);
		if (searchCity !== null && centerLat !== null && centerLng !== null) {
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 8,
				center: new google.maps.LatLng(centerLat, centerLng),
				mapTypeId: google.maps.MapTypeId.ROADMAP
			});
			var infowindow = new google.maps.InfoWindow();
			var marker, i=0;
			$.getJSON("{{ asset('json/au_data_min.json') }}", function(json){
				$.each(json, function(key, val){
					km = searchRad;
					var ky = 40000 / 360;
					var kx = Math.cos(Math.PI * centerLat / 180.0) * ky;
					var dx = Math.abs(centerLng - val.lng) * kx;
					var dy = Math.abs(centerLat - val.lat) * ky;
					var result =  Math.sqrt(dx * dx + dy * dy) <= km;
					if(result){
						marker = new google.maps.Marker({
							position: new google.maps.LatLng(val.lat, val.lng),
							map: map
						});
						google.maps.event.addListener(marker, 'click', (function(marker, i) {
							return function() {
								$.getJSON('https://api.openweathermap.org/data/2.5/weather?q='+val.city+',au&appid=569d11a83f20a9595a1f8458ca4647ce', function(response){
									var detail = "City : " + val.city + "<br>";
									detail += "Temperature : " + response.main.temp + " (min :" + response.main.temp_min + " & max : "+response.main.temp_max+") <br>";
									detail += "Humidity : " + response.main.humidity + "<br>";
									detail += "Pressure : " + response.main.pressure + "<br>";
									detail += "Wind : (degree :" + response.wind.deg + " & speed : "+response.wind.speed+") <br>";
									detail += "Weather : "+response.weather[0].main+" (" + response.weather[0].description + ")<br>";
									infowindow.setContent(detail);
									infowindow.open(map, marker);
								});
							}
						})(marker, i));
						i++;
					}
				});
			});
		}
	}
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYlZ6W76p9-LmzDeDifD_-lcuAJCQ8Yyg&callback=initMap"></script>

